body{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type:none;
}
li{
  padding: 12px;
}
li:hover{
  opacity: 0.8;
}

.status{
  width:100%;
  height:30px;
  position:fixed;
  z-index: 9999;
  text-align: center;
  bottom: 0;
  font-size: 12px;
  color: gray;
  font-weight:bold;
  font-family: sans-serif;
}
.menu{
  width:300px;
  height:100%;
  background:#eee;
  position:fixed;
  z-index: 9999;
  overflow: auto;
}

.title{
  color: gray;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0%   {left:-300px; top:0px;}
  100%  {left:0px; top:0px;}
}

.search-enter,.search-leave-active{
  opacity: :0;
  transform: translate3d(0,1%,0);
}
.search-enter-active,.search-leave-active{
  transition: all .2s cubic-bezier(0.4,0,0,0);
}

.search{
  left: 0px;
  padding: 10px;
  height:30px;
  width:200px;
  top:30px;
  position: fixed;
  background: #eee;
  text-align: center;
  border-radius:5px;
}

.themeSwap{
  left: 0px;
  padding: 10px;
  height:300px;
  width:200px;
  top:30px;
  position: fixed;
  background: #eee;
  text-align: center;
  border-radius:5px;
}

.themeSwap>.zoom>li{
  float: left;
  height: 40px;
  width: 45%;
  padding-right: 20px;
  box-sizing: border-box;
}

.font{
  position:fixed;
  left:50px;
  margin-top: 20px;
}

.theme{
  margin-top: 20px;
}

.song{font-family: "STSong";padding: 12px;}
.hei{font-family: "STHeiti";padding: 12px;}
.kai{font-family: "STKaiti";padding: 12px;}
.apple{font-family: "sans-serif";padding: 12px;}

.default{margin-right: 10px;border-radius:50%;border: 1px;display:inline-block;height: 30px;width: 30px;vertical-align: top;border-style: solid; background: #fff;}
.gold{margin-right: 10px; border-radius:50%;border: 1px;display:inline-block;height: 30px;width: 30px;vertical-align: top;border-style: solid; background: #f1ece2;}
.eye{margin-right: 10px; border-radius:50%;border: 1px;display:inline-block;height: 30px;width: 30px;vertical-align: top;border-style: solid; background: #ceeaba}
.dark{margin-right: 10px; border-radius:50%;border: 1px;display:inline-block;height: 30px;width: 30px;vertical-align: top;border-style: solid; background: #000;}

.correct{
  display:block;color:#FFF;height:30px;line-height:30px;text-align:center;font-size:18px;
}

.correct-dark{
  display:block;height:30px;line-height:30px;text-align:center;font-size:18px;
}

input:focus{ outline:none; }

input{
  height: 20px;
  margin: 10px;
  border-radius:9px;
  padding: 0 10px 0 35px;
  background-image: url(search.png);
  background-repeat: no-repeat;
  background-position: 5px 2px;
}

.pdfcontainer{
  overflow: auto;
  text-align: center;
}

.canvas{
  width:auto;
  height: 200%;
}

.book{
  width:80%;
  height: 80%;
  position: fixed;
  left: 10%;
  top: 10%;
}
.leftbar{
  width:10%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  left: 8px;
  top: 8px;
  text-align: center;
  display:inline-block;
}
.rightbar{
  z-index: 9998;
  position: fixed;
  width: 10%;
  height: 100%;
  right: 8px;
  top: 8px;
  display:inline-block;
}

.leftbar:hover .leftImg{
  display:block;
}

.rightbar:hover .rightImg{
  display:block;
}
.bookmark{
  float: right;
  padding-right: 5%;
}
.leftImg{
  position:fixed;
  top:50%;
  padding-left: 5%;
  display:none;
}

.rightImg{
  position:fixed;
  top:50%;
  padding-left: 5%;
  display:none;
}

.toolbarShow{
  z-index: 9999;
  width:100%;
  height:30px;
  position:fixed;
  top:0;
  display:block;
  background:#eee;
}
.boxShow{ width:186px;margin-left: 0px;display:block;}

.toolbar{
  z-index: 9999;
  width:100%;
  height:30px;
  position:fixed;
  top:0;
  display:inline-block;
}
.toolbar:hover{
  background:#eee;
}
.toolbar:hover .box{
  display:block;
}

ul{ padding:0; margin:0; overflow:hidden;}
.box>li{padding:0; margin:0;list-style:none;text-align: center;}
.boxShow>li{padding:0; margin:0;list-style:none;text-align: center;}
img{ border:0;}
.box{ width:250px;margin-left: 0px;display:none;}
.box li{ float:left; width:21px; height:16px; margin-right:10px;margin-top:7px;}
.boxShow li{ float:left; width:21px; height:16px; margin-right:10px;margin-top:7px;}
.arrow{
  position:fixed;
  left: 172px;
  top:5px;
}

.note{
  border:1px solid #3366FF;
  width:200px;height:100px;
  position:absolute;/*让节点脱离文档流,我的理解就是,从页面上浮出来,不再按照文档其它内容布局*/
  top:24%;/*节点脱离了文档流,如果设置位置需要用top和left,right,bottom定位*/
  left:24%;
  z-index:2;/*个人理解为层级关系,由于这个节点要在顶部显示,所以这个值比其余节点的都大*/
  background: white;
  border-radius:10px;
}

.txtnote{
  width:200px;
  height:100px;
  border-style:none;
  background:transparent;
}

.txtnote:focus{ outline:none; }
.tips{
  text-align: center;
  line-height:600px;
  color: grey;
  width:80%;
  height:80%;
  position:fixed;
}
